.header-logged-in
  background-image none
  background-color #F5F5F5

.new-user-avatar-cta
  display none

*:not(.mail-status), .sunken-menu-item.selected:after
  border-radius 0px !important

.button, .button:hover,
.primary, .primary:hover,
.minibutton, .minibutton:hover,
.button.primary, .button.primary:hover,
.minibutton.primary, .minibutton.primary:hover,
.button.danger:hover, .minibutton.danger:hover,
.js-git-protocol-selector, .btn-primary, .btn
  background-image none !important

.site-footer
  display none

.form-control, input[type="text"], input[type="password"], input[type="email"],
input[type="number"], input[type="tel"], input[type="url"], textarea,
.blankslate
  box-shadow none !important

.protip
  margin 20px 0

// body, .header
//   min-width 0
//
// .container
//   width auto
//   max-width 1000px
//
// .issues-listing .table-list-issues .issue-title
//   width auto
//
// .user-nav
//   margin-right 0
//
// .column
//   box-sizing border-box
//   margin 0
//
// .columns
//   margin 0
//
// .participation-graph
//   canvas
//     width 100%
//
// .vcard-avatar .avatar
//   width 100%
//   height auto
//
//
// .repo-container
//   display flex
//
//   .repository-sidebar, .repository-content
//     width auto
//     float none
//
//   .repository-sidebar
//     order 2
//
//     li, .sunken-menu-item
//       display inline-block
//
//     a, .sunken-menu-separator
//       margin 0
